<div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <strong><em>{{ title }}</em></strong>
      </div>
      <div class="card-body">

        <div class="row search-form">
          <div class="col-md-4">
            <label for="">Nome:</label>
            <input type="text" class="form-control" />
          </div>
          <div class="col-md-4">
            <label for="">CPF:</label>
            <input type="text" class="form-control" />
          </div>
          <div class="col-md-4 p-4">
            <button type="button" class="btn btn-success">Buscar</button> |
            <button type="button" class="btn btn-primary" routerLink="/pessoas/novo" >Cadastrar</button>
          </div>

        </div>

        <br>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover table-bordered ">
              <thead>
                <tr class="table-secondary text-center">
                  <th>Id</th>
                  <th>Nome</th>
                  <th>E-mail</th>
                  <th>Cpf</th>
                  <th>Idade</th>
                  <th>Tels</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pessoa of pessoas">
                  <td>{{ pessoa.id }}</td>
                  <td class="text-left">{{ pessoa.nome }}</td>
                  <td class="text-left">{{ pessoa.email }}</td>
                  <td class="text-center">{{ pessoa.cpf }}</td>
                  <td class="text-center">{{ pessoa.nascimento }}</td>
                  <td class="text-center">{{ pessoa.telefones ? pessoa.telefones.length : 0 }}</td>
                  <td class="text-center">
                    <a class="btn btn-primary" title="Editar" routerLink="/pessoas/editar/{{ pessoa.id }}" >
                      <i class="fas fa-edit"></i>
                    </a> |
                    <a class="btn btn-danger" title="Excluir" (click)="remove(pessoa)">
                      <i class="fas fa-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
